.body {
  height: 100vh;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
  display: flex;
  justify-content: center;
}

.back {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

button {
  margin-top: 1rem;
  transition: box-shadow 300ms;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(4px);
  border: 0;
  border-radius: 4px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}
